.title {
  text-align: center;
  padding: 3em;
}

.contenedor {
  background-color: rgb(184, 221, 221);
  margin: 15em;
}

.formulario {
  text-align: center;
  padding: 10em;
}

.button {
  text-align: center;
}