
.title {
  text-align: center;
}

.registro {
  text-align: center;
  padding: 10em;
  display: flex;
  flex-direction: column;
}

.contenedor {
  background-color: rgb(192, 240, 240);
  margin: 5em;
}